.topic_sidebar {
    width: 20%;
}

.content {
    display: flex;
}

.pre {
    background-color: #e8e8e8;
    color: black;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

.code {
    
    padding: 2px 6px;
    border-radius: 4px;
}