.App {
  background-color: grey;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
}

.section_main_text {
  color: black;
  background-color: grey;
  border-radius: 2px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10vh;
  width: 50%;

  display: flex;
  flex-direction: column;
}

.section_background {
  border: 2px solid black;
}

@media (max-width: 1749px) {
  .App {
    overflow-y: visible;
  }
}
